# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
server.log
server.error.log

# runtime uploads
uploads/


# environment variables
.env
.env.production
data/auth.json

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
